.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars                 # Ignore variable files with sensitive information
crash.log                # Ignore crash logs if any
.terraform.lock.hcl